Source: mint-themes
Maintainer: Sébastien Bouchard <sebastjava@hotmail.ca>
Section: gnome
Priority: optional
Build-Depends: debhelper (>= 9),
               sassc,
               inkscape (>= 1.0),
               optipng,
               imagemagick
Standards-Version: 3.9.5

Package: mint-themes
Architecture: all
Depends: ${misc:Depends},
         mint-x-icons,
         mint-y-icons
Conflicts: mint-clearlooks-theme,
           mint-x-theme,
           mint-themes-gtk3,
           cinnamon-themes
Replaces: mint-clearlooks-theme,
          mint-x-theme,
          mint-themes-gtk3,
          cinnamon-themes
Description: Mint-Yz themes
 A fork of the Mint-Y themes with better colors and more.
