Source: mint-yz-theme
Maintainer: Sébastien Bouchard <sebastjava@hotmail.ca>
Section: gnome
Priority: optional
Build-Depends: debhelper (>= 9),
               sassc,
               inkscape (>= 1.0),
               optipng,
               imagemagick
Standards-Version: 3.9.5

Package: mint-yz-theme
Architecture: all
Depends: ${misc:Depends},
         mint-x-icons,
         mint-y-icons
Conflicts: mint-clearloox-theme,
           mint-x-theme,
           mint-y-theme,
           mint-z-theme,
           mint-themes-gtk3,
           cinnamon-themes
Replaces: mint-clearloox-theme,
          mint-x-theme,
          mint-y-theme,
          mint-z-theme,
          mint-themes-gtk3,
          cinnamon-themes
Description: Mint-Yz: new colors and more
 A fork of the mint-themes (Mint-Y) with better colors and more.
